<section id="contact">
    <div class="container">
        <div class="col-sm-4 col-xs-6 text-center">
            <a href="https://srikrishnan-lab.github.io">
            <i class="fa fa-home fa-3x"></i>
            <p>Research Group Website
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <a href="https://www.viveks.me/my-cv/Srikrishnan-CV.pdf">
                <i class="ai ai-cv fa-3x"></i>
                <p>Curriculum Vitae</p>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <a href="https://scholar.google.com/citations?user=CY_JxugAAAAJ">
            <i class="ai ai-google-scholar fa-3x"></i>
                <p>Google Scholar</p>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <a href="https://www.researchgate.net/profile/Vivek_Srikrishnan">
            <i class="ai ai-researchgate fa-3x"></i>
                <p>ResearchGate</p>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <a href="https://github.com/{{ site.github }}">
            <i class="fa fa-github fa-3x"></i>
                <p>{{ site.github }}</p>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5847.526357349971!2d-76.47593150262772!3d42.44689556425322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d0832aa353076b%3A0x4408115c9cbe3a5!2sRiley%20Robb%20Hall!5e0!3m2!1sen!2sus!4v1612899309156!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-2">
            <h4>Office</h4>
            <i class="fas fa-map-pin"></i>
            318 Riley-Robb Hall
            <br/><br/>
            <h4>Administrative Address</h4>
            <p>
            Department of Biological &amp; Environmental Engineering<br/>
            Cornell University<br/>
            Riley-Robb Hall<br/>
            111 Wing Drive<br/>
            Ithaca, NY 14853-5701<br/>
            <br/>
            </p>
        </div>
    </div>
</section>
