<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Vivek Srikrishnan</h1>
            <hr>
            <p>
                I am an Assistant Professor in the <a href="https://bee.cals.cornell.edu">Department of Biological &amp; Environmental Engineering</a> at <a href="https://cornell.edu">Cornell University</a>.
                Most of my work concerns climate risk management: how do we facilitate resilience in the face of dynamic environmental hazards? My interdisciplinary, mission-oriented research addresses a broad set of problems, from flood risk management to energy-system investments. I work at the interface of systems engineering, earth science, data science, and decision science.
            </p>
            <a href="https://srikrishnan-lab.github.io" class="btn btn-primary btn-xl page-scroll">Research Group Website</a>
            <br><br><br><br>
            <img src="img/vsrikrish.png" alt="Vivek Srikrishnan" class="lab-member-photo" style="width:200px; height:200px; float:center; border-radius:50%;"/>
        </div>
    </div>
</header>
